<nav class="navbar">
  <div class="container d-flex justify-content-between align-items-center flex-wrap gap-2">
    <a
      class="navbar-brand"
      href="{% if current_user.is_authenticated and current_user.role.name == 'ADMIN' %}/admin{% else %}/{% endif %}">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        class="img-fluid"
        alt="Logo" />

      <span>TvT-food</span>
    </a>


    <div class="d-flex align-items-center gap-3">
      {% if current_user.is_authenticated %}
      <span class="text-white fw-bold">Chào, {{ current_user.username }}</span>
      {% if current_user.role.name in ['USER', 'CUSTOMER'] %}
      <a href="{{ url_for('cart.my_orders') }}" class="btn btn-outline-info btn-sm"
        >Hóa đơn của tôi</a
      >
      {% endif %}
      <a href="/logout" class="btn btn-outline-danger btn-sm">Đăng xuất</a>
      {% else %}
      <a href="/login" class="btn btn btn-primary btn-sm">Đăng nhập</a>
      <a href="/register" class="btn btn-primary btn-sm">Đăng ký</a>
      {% endif %} {% if not current_user.is_authenticated or
      current_user.role.name != "ADMIN" %}
      <div class="nav-item">
        <a class="nav-link text-success fs-4" href="/cart"
          >&#128722;
          <span class="badge bg-danger cart-counter" id="cartId"
            >{{ cart_stats.total_quantity }}</span
          >
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
